%section.miles
  .left
    %h3 Miles Traveled
    %canvas{id: 'steps', width: '520', height: '200'}
  .right
    %h3 Calories In
    %canvas{id: 'calories', width: '520', height: '200'}
.push
%section.text-stats
  .leaderboard 
    .icon-trophy
    .leaderboard-text
      %h3 Am I beating Zack this week? 
      %p 
        %span(class="#{@beating_zack ? 'yes' : 'no'} zack")= @beating_zack ? 'Yes' : 'No'
        %span.step-margin by #{@margin_zack} steps
  .sleep
    .icon-alarm
    .sleep-text
      %h3 Time Slept Last Night
      %p= @sleep
