<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Fit</title>
  <%= stylesheet_tag 'application' %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
  <%= javascript_tag 'application', expand: true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <%= yield %>
</body>
</html>