$body-font: "camingodos-web",sans-serif;
$heading-font: "aw-conqueror-carved-one", sans-serif;
$red: rgba(238, 104, 93, 1.0);
$shadow: shade($red, 20%);

$text-color: #555;
$green: rgba(58, 165, 104, 1.0);
$blue: rgba(52, 152, 219,1.0);

@mixin sticky-footer(
  $height:          50px,
  $main-selector:   '.wrapper',
  $footer-selector: '.footer',
  $push-selector:   '.push'
) {
  html,
  body {
    height: 100%;
  }
  body > #{$main-selector} {
    height:        auto !important;
    height:        100%;
    margin-bottom: -$height;
    min-height:    100%;
    #{$push-selector} {
      clear:  both;
      height: $height;
    }
  }
  #{$footer-selector} {
    clear:    both;
    height:   $height;
    position: relative;
  }
}